@page "/services/DataServicesDetails"

<style>
    body {
        background-image: url('./Images/background.png');
        background-size: 100%;
    }
</style>

<MudContainer Class="mt-5">


    <MudText Align="Align.End" Style="color:white"><a href="/" class="color-hover" style="text-decoration:none; color:white">Inicio</a> / <a href="/services" class="color-hover" style="text-decoration:none; color:white">Servicios</a> / Servicios de Datos</MudText>
    <MudCard Elevation="5" Style="width:100%; height:100%;">
        <MudCardMedia Image="/Images/Services/ServicioDatos.jpg"/>
        <MudCardContent>
            <MudText Typo="Typo.h3">Servicios de Datos</MudText>
            <br />

            <MudText Typo="Typo.body1" Align="Align.Justify">
                <MudIcon Icon="@Icons.Material.Filled.ArrowForward" Style="color:red;" />
                <a class="font-weight-bold">Sistemas de Almacenamiento de Datos:</a> Implementación de sistemas robustos y
                seguros de almacenamiento de datos para gestionar grandes volúmenes de
                información de manera eficiente.
            </MudText>
            <br />
            <MudText Typo="Typo.body1" Align="Align.Justify">
                <MudIcon Icon="@Icons.Material.Filled.ArrowForward" Style="color:red;" />
                <a class="font-weight-bold">Servicios de Procesamiento de Datos:</a> Procesamiento y transformación de datos
                crudos en formatos utilizables y significativos para su análisis y aplicación.
            </MudText>
            <br />
            <MudText Typo="Typo.body1" Align="Align.Justify">
                <MudIcon Icon="@Icons.Material.Filled.ArrowForward" Style="color:red;" />
                <a class="font-weight-bold">Servicios de Estandarización de Datos:</a> Normalización y estandarización de datos
                para garantizar la coherencia y la integridad de la información en toda la
                organización.
            </MudText>
            <br />
            <MudText Typo="Typo.body1" Align="Align.Justify">
                <MudIcon Icon="@Icons.Material.Filled.ArrowForward" Style="color:red;" />
                <a class="font-weight-bold">Servicio de Conversión de Datos:</a> Conversión de datos entre diferentes formatos
                y plataformas para facilitar su interoperabilidad y uso efectivo.
            </MudText>
            <br />
            <MudText Typo="Typo.body1" Align="Align.Justify">
                <MudIcon Icon="@Icons.Material.Filled.ArrowForward" Style="color:red;" />
                <a class="font-weight-bold">Servicios de Análisis de Base de Datos:</a> Análisis y exploración de bases de datos
                para identificar patrones, tendencias y relaciones significativas que impulsen la
                toma de decisiones informadas.
            </MudText>
        </MudCardContent>
    </MudCard>
</MudContainer>


@code {

}
